@using lifu.Models
@model lifu.Models.Area

@{
    ViewBag.Title = "編輯案件區域設定";
}

<h2>編輯案件區域設定</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Area</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<lifu.Models.Area>.GetDisplayName("Subject") })
           
        </div>

            @Html.HiddenFor(model => model.ListNum)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
