@model lifu.Models.CaseService

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CaseService</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reserved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reserved)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cost.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telphone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telphone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Information)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Information)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BuyRequest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuyRequest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        @Html.ActionLink("回列表", "Index")
    </p>
}
