@using lifu.Models
@model lifu.Models.Service

@{
    ViewBag.Title = "客戶服務內容";
}

<h2>客戶服務內容</h2>

<fieldset>
    <legend>Service</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelphoneAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelphoneAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelphonePM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelphonePM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShortMemo)
    </div>
    <div class="display-field">
       @Html.Raw(UIUtility.Txt2Html(Model.ShortMemo))
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Replay)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Replay, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<lifu.Models.Service>.GetDisplayName("Replay") })
        @Html.ValidationMessageFor(model => model.Replay)

    </div>
   

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

   
</fieldset>
<p>
  
    @Html.ActionLink("回列表", "Index")
</p>
